<div id="alist"></div>
 <ul class="pagination" id="pagination2"></ul>
<script type="text/javascript">
var total;
     var limit;
    $(function(){
       $('#alist').load('/article/manager',null,function(){
         total=$('#list_meta').data("total");
        limit=$('#list_meta').data('limit');
        $.jqPaginator('#pagination2', {
        totalPages: Math.ceil(total/limit),
        visiblePages: 7,
        currentPage: 1,
        pageSize:limit,
        prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
        next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
            $.ajax({
              url: '/article/manager',
              type: 'get',
              dataType:'html',
              data: {page: num,date:Date.now()},
              success:function(data){
                $('#alist').html(data);
              },
              error:function(err){
              }
            });       
        }
    });
       });
    })

  
</script>


    <style type="text/css">
      
      td[data-status="1"]{
        background-image:url('/images/jie2.png');
        background-repeat:no-repeat;
      }

    </style>
  

  
