<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>交流平台</title>
	<%include js_css.ejs%>
</head>
<body>
	<%include header.ejs%>
 	<div class="container-fluid header_doc">
    <div class="container">
      <h4>相互帮助</h4>
      

    </div>
    </div>


	<div class="container content">
		

		
		<div class="row">
		<div class="col-md-9">
	<!-- start 搜索菜单			 -->

	

		<div class="mynav1">
			<ul>
				<li><a href="#">时间排序</a></li>
				<li><a href="#">热度排序</a></li>
			</ul>
			<select name="searchtype">
				<option value="全部">全部</option>
				   <option value="猫">猫星人</option>
				<option value="狗">汪星人</option>
				<option value="其他">其他星球</option>
			</select>
		</div>

	<!-- end 搜索菜单 	 -->
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">。。。</div>
  <div class="panel-body">
<div id="alist">
</div>
</div>

 <div class="panel-footer">
 <ul class="pagination" id="pagination2"></ul>
 </div>

 </div> 

</div>


<div class="col-md-3">
			
		</div>
		


	</div>
	</div>
	<%include footer.ejs%>

	<script type="text/javascript">
	 var total;
     var limit;
    $(function(){
       $('#alist').load('/article/alist',null,function(){
         total=$('#list_meta').data("total");
        limit=$('#list_meta').data('limit');
        $.jqPaginator('#pagination2', {
        totalPages: Math.ceil(total/limit),
        visiblePages: 7,
        currentPage: 1,
        pageSize:limit,
        prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
        next: '<li class="next"><a href="javascript:;">下一页</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
            $.ajax({
              url: '/article/alist',
              type: 'get',
              dataType:'html',
              data: {page: num,date:Date.now()},
              success:function(data){
               // alert(data)
                $('#alist').html(data);
              },
              error:function(err){
              }
            });       
        }
    });
       });
    })
   
	</script>
</body>
</html>