<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>交流平台</title>
	<%include js_css.ejs%>
</head>
<body>
	<%include header.ejs%>
 	<div class="container-fluid header_doc">
    <div class="container">
      <h4>相互帮助</h4>
      

    </div>
    </div>


	<div class="container content">
		

		
		<div class="row">
		<div class="col-md-9">
	<!-- start 搜索菜单			 -->

	

	

	<!-- end 搜索菜单 	 -->
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
 <div class="form-inline">
   <div class="input-group">
    <div class="input-group-addon">类型</div>
      <select  id="searchtype" name="searchtype" class="form-control">
        <option value="全部">全部</option>
        <option value="猫">猫</option>
        <option value="狗">狗</option>
        <option value="其他">其他</option>
      </select>
   </div>
 </div>

   
  </div>
  <div class="panel-body">
<div id="alist">
</div>
</div>

 <div class="panel-footer">
 <ul class="pagination" id="pagination2"></ul>
 </div>

 </div> 

</div>


<div class="col-md-3">
			
		</div>
		


	</div>
	</div>
	<%include footer.ejs%>

	<script type="text/javascript">
 function init(vvv){
	 var total;
   var limit;
   var stype=vvv;
       $('#alist').load('/article/alist',null,function(){
         total=$('#list_meta').data("total");
        limit=$('#list_meta').data('limit');
        $.jqPaginator('#pagination2', {
        totalPages: Math.ceil(total/limit),
        visiblePages: 7,
        currentPage: 1,
        pageSize:limit,
        prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
        next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
            $.ajax({
              url: '/article/alist',
              type: 'get',
              dataType:'html',
              data: {page: num,searchtype:stype,date:Date.now()},
              success:function(data){
               // alert(data)
                $('#alist').html(data);
              },
              error:function(err){
              }
            });       
        }
    });
       });
    
 };  
$(function(){
  init("全部");
  $('#searchtype').change(function(event) {
    var vvv=$(this).val();

    init(vvv);
  });
})
	</script>
<style type="text/css">

</style>
</body>
</html>