<!DOCTYPE html>
<html>
  <head>
    <title>宣城宠物领养</title>
      
      <%include js_css.ejs%>
    
  </head>
  <body>

    <%include header.ejs%>
  <div class="container-fluid header_doc">
    <div class="container">
      <h2>领养代替购买</h2>
      <p>
      ...
      
      </p>


    </div>
    </div>


    <div class="container content">




    <div class="row">
      <div class="col-md-9">
          <div class="row">
    
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">最近领养</div>
  <div class="panel-body">

<div class="col-md-3 col-xs-6 margin0">

              
</div>

  </div> <!-- panel-body -->
</div> <!-- panel   -->
</div> <!-- div row -->
<!-- 爬虫信息 -->
<div class="row">
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">数据来源(宣城论坛)</div>
  <div class="panel-body">
<div id="outlist">
</div>
</div>

 <div class="panel-footer">
 <ul class="pagination" id="pagination2"></ul>
 </div>

 </div> 
</div>

<!-- 爬虫信息end -->
    

      </div>
      <div class="col-md-3 ">
        <%include rightside.ejs%>
      </div>
    </div>
    </div>
    <script type="text/javascript">
$(function(){
  $('.margin0').load('/article/zhanshi');
})



        var total;
        var limit;
    $(function(){
       $('#outlist').load('/article/out',null,function(){
         total=$('#out_table').data("total");
        limit=$('#out_table').data('limit');
        $.jqPaginator('#pagination2', {
        totalPages: Math.ceil(total/limit),
        visiblePages: 7,
        currentPage: 1,
        pageSize:limit,
        prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
        next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
            $.ajax({
              url: '/article/out',
              type: 'get',
              dataType:'html',
              data: {page: num,date:Date.now()},
              success:function(data){
               // alert(data)
                $('#outlist').html(data);
              },
              error:function(err){
              }
            });       
        }
    });
       });
    })
   



      $(function(){
        var c=$("#tianqi");
        $.ajax({
          url: '/services',
          type: 'GET',
          dataType:false,
          data: {city: '宣城'},    
          success: function(data, textStatus, xhr) {
            // var msg;
            // if(data.status==200){
            //   msg=data;
            //   c.html(JSON.stringify(msg)).show();
            // }

            c.append("宣城(数据来源：中央气象台)"+data);

          },
          error: function(xhr, textStatus, errorThrown) {
            
          }
        });
        
      });

    </script>
    <style type="text/css">
     
      .zhanshi{
        position: relative;
        width: 100%;
       display: block;
  padding: 4px 4px 0px 4px;
  margin: 0;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.zhanshi > img,
.zhanshi a > img {
  margin-right: auto;
  margin-left: auto;
   width: 100%;
   height: 100%;
}
.zhanshi .meta{
  position: absolute;
  top:2px;
  right: 0px;
  background: #FFF;
  opacity: 0.7;
}
.zhanshi p{
  font-size:0.9em;
  

}
.margin0{
  margin:0;
  padding: 0 2px;
  /*border: 1px solid red;*/
}

    </style>
    <%include footer.ejs%>
  </body>
</html>
