

<!-- 公告栏 -->
      <div id="tianqi">
       
      </div>
      <div class="gonggao">
       
      <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="color: #CC3333"></span> 公告栏：
      <p>宠物被领养寥少何中何中国宠物被领养寥少何中何中国宠物被领养寥少宠物被领养寥少何中何中国宠物被领养寥少何中何中国宠物被领养寥少宠物被领养寥少何中何中国宠物被领养寥少何中何中国宠物被领养少领养寥
      </p>
      </div>
      <!-- end -->

      <!-- 资源链接 0-->
      <div class="list-group outlink">
        <p class="list-group-item list-group-item-info">资源链接</p>
        <a href="http://www.xuancheng.org/forum-268-1.html" class="list-group-item">宣城论坛【宠物板块】</a>
        <a href="http://tieba.baidu.com/f?kw=%D0%FB%B3%C7&fr=ala0&tpl=5" class="list-group-item">宣城贴吧</a>
        <a href="http://www.petly.net/portal.php" class="list-group-item">宠物领养网</a>
       
      </div>



      <!-- 资源链接 1 -->

      <script>
        $('.outlink a').attr("target","_blank");
      </script>